.bef{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../../public/login.jpg");
}
